<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>C4E 18 Blog</h1>
    
    
    {% for item in posts %}
        
        <h3>{{item.title}}</h3>
        <p>
            {{item.content}}
        </p>
        <i>By:
            {{% "Mr" if item.grender == 0 else "Ms"  %}}
                
            
            {{item.author}}</i>
            {{% endif %}}
        <hr>
        
    {% endfor %}
    
    <!-- <h3>khô khan</h3>
    <P>
        Hôm nay trăng mới nhú thôi
    </P>
    <i>By: Hùng</i>
    <h3>mệt mỏi vì học giỏi</h3>
    <p>
        không biết nữa
    </p>
    <i>By: giang</i> -->


</body>
</html>