<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa Đông Không Lạnh</title>
</head>
<body>
    <h1>Thêm Thông Tin</h1>
    <form method="POST">
        <label>Tên</label>
        <input type="text" name="name">
        <br><br>

        <label>Năm Sinh</label>
        <input type="text" name="yob">
        <br><br>

        <label>Chiều Cao</label>
        <input type="text" name="height">
        <br><br>

        <label>Số Điện Thoại</label>
        <input type="text" name="phone">
        <br><br>

        <label>Địa chỉ</label>
        <input type="text" name="address">
        <br><br>

        <p>Giới Tính:</p>
        <input type="radio" name='gender'>Male
        <br>
        <input type="radio" name='gender'>Female
        <br><br>

        <button type="submit">Cập Nhật</button>

    </form>
</body>
</html>