<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa Đông Không Lạnh</title>
</head>
<body>
    <h1>{{service_to_details.name}}</h1>
        <p>Nắm sinh: {{service_to_details.yob}}</p>
        <p>Chiều cao: {{service_to_details.height}}</p>
        <p>Số Điện Thoại: {{service_to_details.phone}}</p>
        <p>Địa Chỉ: {{service_to_details.address}}</p>
        <p>Mổ Tả: {{service_to_details.description}}</p>
        <p>Số Đo: {{service_to_details.measurements}}</p>
</body>
</html>