<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa Đông Không Lạnh</title>
    {% include 'metadata.html' %}
</head>
<body>
    <!-- <h1>Mùa Đông Không Lạnh</h1> -->
    <!-- <a href="{{url_for('route')}}">Thông tin thành viên</a>
    <br><br>
    <a href="{{url_for('add')}}">add</a>
    <br><br>
     -->
    {% include 'homepage/navigation.html' %}
    {% include 'homepage/carousel.html' %}
</body>
</html>