<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa Đông Không Lạnh</title>
</head>
<body>
        <form action="/action_page.php">
            Tên: <input type="text" name="fname" value="Tú Linh"><br>
            Năm Sinh: <input type="text" name="lname" value="1994"><br>
            <input type="submit" value="cập nhật">
          </form>
</body>
</html>