<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa Đông Không Lạnh</title>
</head>
<body>
    <h1>Create new_service</h1>
    <form method="POST">
        <label>Tên</label>
        <input type="text" name="name">

        <label>yob</label>
        <input type="text" name="yob">

        <label>địa chỉ</label>
        <input type="text" name="address">
        
        <button type="submit">update</button>
    </form>
</body>
</html>